# Environment variables (NUNCA subir contraseñas)
.env
configuracions/docker/.env

# Docker volumes data
configuracions/docker/volumes/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp
*~
.env
.env
configuracions/docker/monitoring/loki/data/
configuracions/docker/monitoring/prometheus/data/
configuracions/docker/monitoring/grafana/data/
