# Archivos con credenciales REALES
.env
configuracions/docker/.env
configuracions/docker/alertas.env
configure-grafana-alerts.sh

# Logs
*.log

# Archivos temporales
*.tmp
*.swp
*~

# Node modules
node_modules/

# Docker volumes
volumes/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Datos de Loki (volúmenes Docker)
configuracions/docker/monitoring/loki/data/
configuracions/docker/monitoring/prometheus/data/

# Directorios temporales de Docker
configuracions/docker/s2-php/
configuracions/docker/s3-php/
